$fondoBarra:rgba(26, 47, 68, .5);
$fondoBarraS:rgba(26, 47, 68, 1);
$colorFondoPrimario:#1a2f44;
$colorFondoSecundario:#242c3b;
$colorTexto:#ffffff;
$fuentePrimaria:'Open Sans';
$fuenteSecundaria:'Roboto';
//Puntos de Quiebre
$computadora:992px;
$tablet:768px;
$telefono:480px;